#CV{
	font-family: 'Montserrat', sans-serif;
	color: #009902;
}

#wrapper {
  background-image:url(Imagesme/river.jpeg);
  height: 100vh;
  background-size:cover;
}


.titre{
	color: #009902;
  text-align: center;
}
ul{
	color: black
}
body {
  background-color: rgb(240, 244, 245);
}
#container {
  margin: 0 auto;
  width: 720px;
   font-family: 'Open Sans', sans-serif;
}

.achievement{
  text-align: left;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

header{
  text-align: center;
  padding: ;
  margin:;
  border-bottom: ;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 75px;
}

#nav > li {
  display: inline;
  padding: 2em;
}

#nav > li > a {
  text-decoration: none;
  color: orange;
  font-weight: 700;
}
.orange{
  color: #009902;
}

img{
  border-radius: 70px 70px 70px;
  border: 4px solid orange;
  box-shadow: 0px 0px 1px black;
}

.test{
  text-align: center;
}

